<form action="" id="form_login" class="form_login">
    <div class="title_form">
        <h1>Bienvenido a Stack4Us</h1>
        <p>Inicia sesión para continuar</p>
    </div>

    <label for="">Usuario</label>
    <input type="text" name="" id="name">
    <label for="">Contraseña</label>
    <input type="password" name="" id="password">
    <button type="submit">Iniciar sesión</button>

    <div class="footer_form">
        <p>¿No tienes una cuenta? <a href="/register" data-link>Regístrate</a></p>
    </div>
</form>