<form action="" id="form_register" class="form_login">
    <div class="title_form">
        <h1>Únete a Stack4Us</h1>
        <p>Crea tu cuenta para comenzar</p>
    </div>

    <label for="">Usuario</label>
    <input type="text" name="" id="name">
    <label for="">Email</label>
    <input type="email" name="" id="email">
    <label for="">Contraseña</label>
    <input type="password" name="" id="password">
    <!-- <label for="">Rol</label>
    <select id="role">
        <option value="user">Coder</option>
        <option value="admin"></option>
    </select> -->
    <button type="submit">Registrarse</button>

    <div class="footer_form">
        <p>¿Ya tienes una cuenta? <a href="/login" data-link>Inicia sesión</a></p>
    </div>
</form>