* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 30px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);
}
.form_login .title_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.title_form h1 {
    font-size: 18px;
    font-weight: bold;
}

.title_form p {
    margin-top: 15px;
    font-size: 15px;
}

.form_login label {
    margin: 10px 0;
    font-size: 14px;
}

.form_login input {
    padding: 16px;
    border: none;
    border-radius: 10px;
    background: #E4E4E4;
}

.form_login button {
    margin-top: 20px;
    padding: 16px;
    border: none;
    border-radius: 10px;
    background: #5E67CD;
    color: #fff;
    font-size: 16px;
}

.footer_form {
    margin-top: 20px;
    text-align: center;
}

.footer_form p {
    font-size: 14px;
}

.footer_form a {
    color: #5E67CD;
    text-decoration: none;
}

@media (min-width: 600px) {
    .form_login {
        max-width: 500px;
        margin: 40px auto;
    }
    .title_form h1 {
        font-size: 25px;
    }
    .title_form p {
        font-size: 17px;
    }
    .form_login label {
        font-size: 16px;
    }
    .form_login input {
        padding: 20px;
    }
    .form_login button {
        padding: 20px;
    }
}