<form action="" id="form_login" class="form_login">
  <div class="title_form">
    <h1>Welcome to Stack4Us</h1>
    <p>Log in to continue</p>
  </div>

  <label for="name">Username</label>
  <input 
    type="text" 
    id="name" 
    name="user_name" 
    placeholder="Enter your username" 
    required
  >

  <label for="password">Password</label>
  <input 
    type="password" 
    id="password" 
    name="password" 
    placeholder="Enter your password" 
    required
  >

  <button type="submit">Log in</button>

  <div class="footer_form">
    <p>Don't have an account? 
      <a href="/register" data-link>Register</a>
    </p>
  </div>
</form>
